@page 
@model EaiModel
<h2>Создание чека LWS2</h2>
<form method="post" >
<h3>Заполнение позиции чека</h2>
    <p>
        <label>Введите порядковый номер колонки:</label><br />
        <input type="text" name="PumpNum" />
    </p>
    <p>
        <label>Введите номер позиции:</label><br />
        <input type="text" name="LineNumber" />
    </p>
    <p>
        <label>Введите продукт</label><br />
        <label>Топливо 51ff4750-d485-11e5-8102-00155d0d2201</label><br />
        <label>Топливо + e0d8dfdb-958f-11ec-8470-000c290469ea</label><br />
        <label>НТУ 079b7231-d4ec-11eb-845c-000c290469ea</label><br />
        <input type="text" name="Product" />
    </p>
    <p>
        <label>Стоимость за единицу товара</label><br />
        <input type="text" name="NetPrice" />
    </p>
    <p>
        <label>Количество товара</label><br />
        <input type="text" name="QuantityRequested" />
    </p>
    <input type="submit" value="Отправить" />
</form>