@page
@model EaiModel
<h2>Отмена чека</h2>
<form method="post" >
<h3>Заполнение позиции чека</h2>
    <p>
        <label>Введите номер карты:</label><br />
        <input type="text" name="jETLWS4OrderCancel_Input.cardNumber" />
    </p>
    <p>
        <label>Введите номер терминала:</label><br />
        <input type="text" name="jETLWS4OrderCancel_Input.terminalId" />
    </p>
    <p>
        <label>Введите RRN</label><br />        
        <input type="text" name="jETLWS4OrderCancel_Input.RRN" />
    </p>
    <p>
        <label>Введите эквайринговую сеть</label><br />
        <input type="text" name="jETLWS4OrderCancel_Input.acquiringId" />
    </p>
    <p>
        <label>Введите применик карт</label><br />
        <input type="text" name="jETLWS4OrderCancel_Input.cardAcceptorId" value = "CardAcceptorId" />
    </p>
    
    <input type="hidden" name="Action" value="LWS4" />
    <input type="submit" value="Отправить" />
</form>