@page 
@model EaiModel
<h2>Регистрация клиента</h2>
<form method="post" >
<h3>Заполнение адреса</h2>
    <p>
        <label>Введите страну:</label><br />
        <input type="text" name="s12_PersonalAddress.Country" />
    </p>
    <p>
        <label>Введите регион:</label><br />
        <input type="text" name="s12_PersonalAddress.Region" />
    </p>
    <p>
        <label>Введите город:</label><br />
        <input type="text" name="s12_PersonalAddress.City" />
    </p>
    <p>
        <label>Введите индекс:</label><br />
        <input type="text" name="s12_PersonalAddress.Index" />
    </p>
    <p>
        <label>Введите район:</label><br />
        <input type="text" name="s12_PersonalAddress.District" />
    </p>
    <p>
        <label>Введите улицу:</label><br />
        <input type="text" name="s12_PersonalAddress.Street" />
    </p>
    <p>
        <label>Введите дом:</label><br />
        <input type="text" name="s12_PersonalAddress.House" />
    </p>
    <p>
        <label>Введите корпус:</label><br />
        <input type="text" name="s12_PersonalAddress.Corps" />
    </p>
     <p>
        <label>Введите квартиру:</label><br />
        <input type="text" name="s12_PersonalAddress.Flat" />
    </p>
    
    <input type="hidden" name="Action" value="Address" />
    <input type="submit" value="Отправить" />
</form>
<form method="post" >
<h3>Заполнение информации по пользователю</h2>    
    <p>
        <label>Введите номер карты для регистрации, для этого нужна карта в статусе Новая:</label><br />
        <input type="text" name="s12_Contact.NewCardNumber" />
    </p>
    <p>       
        <label>Введите Логин</label><br />
        <input type="text" name="s12_Contact.YlUserName" />
    </p>
    <p>       
        <label>Введите пароль</label><br />
        <input type="text" name="s12_Contact.YlPassword" />
    </p>
    <p>
        <label>Введите имя</label><br />
        <input type="text" name="s12_Contact.FirstName" />
    </p>
    <p>
        <label>Введите фамилию</label><br />
        <input type="text" name="s12_Contact.LastName" />
    </p>
    <p>
        <label>Введите отчество</label><br />
        <input type="text" name="s12_Contact.MiddleName" />
    </p>
    <p>
        <label>Введите рабочий телефон или можно использовать </label><br />
        <input type="text" name="s12_Contact.WorkPhone" value="+7" />
    </p>
    <p>
        <label>Наличие подписи в анкете Y/N</label><br />
        <input type="text" name="s12_Contact.JETSignFlag" />
    </p>
    <p>
        <label>Согласие на маркетинговые рассылки Y/N</label><br />
        <input type="text" name="s12_Contact.JETMarketingCampaignAgreement" />
    </p>
    <p>
        <label>Введите почту</label><br />
        <input type="text" name="s12_Contact.EmailAddress" />
    </p>
    <p>
        <label>Введите мобильный телефон или можно использовать </label><br />
        <input type="text" name="s12_Contact.CellularPhone" value = "+7" />
    </p>
    <p>
        <label>Введите дату рождения например 08/15/1992 ММ/ДД/Год </label><br />
        <input type="text" name="s12_Contact.EmailAddress" value = "12/04/1992" />
    </p>
    <p>
        <label>Введите пол</label><br />
        <input type="text" name="s12_Contact.MF"/>
    </p>
    <p>
        <label>Введите дату участия например 10/15/2023 ММ/ДД/Год</label><br />
        <input type="text" name="s12_Contact.SinceDate"/>
    </p>
    <p>
        <label>Кодовое слово</label><br />
        <input type="text" name="s12_Contact.SecurityAnswer"/>
    </p>
    <input type="hidden" name="Action" value="S12" />    
    <input type="submit" value="Отправить" />
</form>