@page
@model TaskCreateModel
@{
        
}


@if(Model.Action.Equals("update")){
    @Model.taskEntity.name
    
}else{
    <form method="post">
    <p>
        <label>Задача</label><br />
        <input type="text" name="name" />
    </p> 
    <p>
        <label>Описание</label><br />
        <textarea class="inputTextArea" type="text" name="about"></textarea>
    </p>      

    <input type="hidden" name="ActionInsert" value="insert"/>
    <input type="submit" value="Отправить" />
    </form>
}