.mainContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}
.taskContainer{
    width: 350px;
    height: 250px;
    border: thick double #18b237;
}
.taskInfo{
    height: 200px;
    border-top: 1px solid #18b237;
}
.taskName{
    height: 35px;
    border-bottom: 2px solid #18b237;
    margin-bottom: 5px;
}
.about{
    margin-top: 5px;
    width: 1200px;
}
.inputTextArea{
    width: 550px;
    height: 620px;
}