.inputAbout{
    width: 350px;
    height: 120px;
}
.mainContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}
.taskContainer{
    width: 350px;
    height: 250px;
    border: thick double #18b237;
}
.about{
    width: 1200px;
    height: 600x;
    border: 1px solid #1d17dd
}