@page
@model EaiModel
@using Work_Menu

<label>@Model.Message</label>
@if(Model.integrationService.Equals("LWS2")){
    <partial name="eai_generator/LWS2"></partial>
} else if (Model.integrationService.Equals("LWS4")){
    <partial name="eai_generator/LWS4"></partial>
}

