@page
@model EaiModel
@using Work_Menu
@{
    ViewData["Title"] = "Home page";
    
}

@foreach(var listItem in Model.lineItems){
    <h5>@listItem.LineNumber</h5>
}

<partial name="EAI/LWS2"></partial>