@page
@model EaiModel
@using Work_Menu
@{
         
}
</br>
<text style="white-space: pre-line">@Model.Message</text>
</br>
<h4>Ссылка для SOAP</h4>
<text style="white-space: pre-line">@Model.URL</text>


@if(Model.integrationService.Equals("LWS2")){
    <partial name="eai_generator/LWS2"></partial>
} else if (Model.integrationService.Equals("LWS4")){
    <partial name="eai_generator/LWS4"></partial>
} else if (Model.integrationService.Equals("LWS8")){
    <partial name="eai_generator/LWS8"></partial>
}

