@page
@model EaiModel
@using Work_Menu
@{
    List<string> collection = new List<string>();
    int tagStart;
    int tagEnd;
    tagStart = Model.Message.IndexOf('<');
    tagEnd = Model.Message.IndexOf('>') + 1;
    string? text = "begin";
    if(tagStart >= 0 && tagEnd > 0) text = Model.Message.Substring(tagStart, tagEnd);
}
<label>@text</label>

@if(Model.integrationService.Equals("LWS2")){
    <partial name="eai_generator/LWS2"></partial>
} else if (Model.integrationService.Equals("LWS4")){
    <partial name="eai_generator/LWS4"></partial>
} else if (Model.integrationService.Equals("LWS8")){
    <partial name="eai_generator/LWS8"></partial>
}

