@page "{menu?}"
@model IndexModel
@using Work_Menu
@{
    ViewData["Title"] = "Home page";
    
}

@foreach(var menu in Model.mainMenu.sortedMenus){
    <a href="@menu.menuURL"><h5>@menu.menuName</h5></a>
}



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
