@page
@model SVRMGRModel
@{
        
}

@if(!Model.svrmgrService.Equals("viewToSql")){
    <form method="post" >
<h3>@Model.operation</h2>
    <p>
        <label>Введите страну:</label><br />
        <input type="text" name="s12_PersonalAddress.Country" />
    </p>
    <p>
        <label>Введите регион:</label><br />
        <input type="text" name="s12_PersonalAddress.Region" />
    </p>
    <p>
        <label>Введите город:</label><br />
        <input type="text" name="s12_PersonalAddress.City" />
    </p>
    <p>
        <label>Введите индекс:</label><br />
        <input type="text" name="s12_PersonalAddress.Index" />
    </p>
    <p>
        <label>Введите район:</label><br />
        <input type="text" name="s12_PersonalAddress.District" />
    </p>
    <p>
        <label>Введите улицу:</label><br />
        <input type="text" name="s12_PersonalAddress.Street" />
    </p>
    <p>
        <label>Введите дом:</label><br />
        <input type="text" name="s12_PersonalAddress.House" />
    </p>
    <p>
        <label>Введите корпус:</label><br />
        <input type="text" name="s12_PersonalAddress.Corps" />
    </p>
     <p>
        <label>Введите квартиру:</label><br />
        <input type="text" name="s12_PersonalAddress.Flat" />
    </p>
    
    <input type="hidden" name="Action" value="Address" />
    <input type="submit" value="Отправить" />
</form>
<form method="post" >
} else {}