@page
@model TaskObjectCreateModel
@{
        
}

<form method="post">
    <p>
        <label>Тип файла</label><br />
        <select name = "type">
            <option value="">Выберите объект</option>
            <option value="1">Applet</option>
            <option value="2">Application</option>
            <option value="3">Business component</option>
            <option value="4">Business object</option>
            <option value="5">Business service</option>
            <option value="6">Import Object</option>
            <option value="7">Integration object</option>
            <option value="8">Link</option>
            <option value="9">Outbound REST Web Service</option>
            <option value="10">Outbound  WSDL Web Service</option>
            <option value="11">Pick List</option>
            <option value="12">Screen</option>
            <option value="13">Task</option>
            <option value="14">Table</option>
            <option value="15">View</option>
            <option value="16">Web Template</option>
            <option value="17">Workflow Policy</option>
            <option value="18">Workflow Policy Program</option>
            <option value="19">Workflow Process</option>
        </select>
    </p> 
    <p>
        <label>Название объекта</label><br />
        <input type="text" name="name" />
    </p>
    <p>
        <label>Какие были правки</label><br />
        <input type="text" name="about" />
    </p>       

    <input type="hidden" name="TaskEntityIdPost" value ="@Model.taskEntityId"/>
    <input type="submit" value="Отправить" />
    </form>